/*importing other css for the site*/
@import url(root.css);
@import url(product.css);
@import url(login.css);
@import url(checkout.css);

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
    padding: 0;
    overflow-x: hidden;
}



h2 {
    font-family: var(--ff-main-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    font-variant: small-caps;
    color: var(--clr-primary-blue);

}

h3 {
    font-family: var(--ff-main-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    font-variant: small-caps;
    color: var(--clr-primary-orange);

}

/* style the paragraph */
p {
    font-family: var(--ff-sub-font);
    font-size: 18px;
    padding: 5px 5px;
    letter-spacing: 3px;
    text-align: justify;
    line-height: 1.7;
}

/* style horizontalline */
hr {
    border: dotted 1px var(--clr-light);
    margin: 20px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
    max-height: 75px;
    background-color: var(--clr-neutral);

}
.hamburger {
    width: auto;
    padding: 10px;
}

/* style the logo */
.logo {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.logo img {
    height: 70px;
    width: 140px;
}

.logo a {
    background-color: transparent;
}

/* hamburger menu */
.menu {
    display: none;
 position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 50px;
    letter-spacing: 2px;
    background-color: var(--clr-primary-orange);
    z-index: 4;
    transition: 0.5s;
}

/* heading for main CTA */
.title {
    color: var(--clr-dark);
    font-family: var(--ff-sub-font);
    font-size: 28px;
    text-align: center;
    text-transform:uppercase;

}

/* p text for main cta */
.white-text {
    color: var(--clr-light-color);
    font-family: var(--ff-sub-font);
    font-size: 18px;
    padding: 5px 5px;
}

/* checkbox hack this needed to be updated later */
/*
input#hamburger {
    display: none;
}

 input#hamburger:checked~nav.hamburger {
    display: block;
} */

nav.menu {
    display: none;
}

nav.menu ul {
    list-style-type: none;
   
   


}

nav.menu li {
    margin-bottom: 0px;

}

nav.menu li a {
    font-family: var(--ff-main-font);
    font-size: 24px;
    text-decoration: none;
    color: var(--clr-dark);
    padding: 12px 12px;
    display: block;
    text-align: center;
}

nav.menu li a:hover {
    color: var(--clr-neutral);
    background: var(--clr-primary-green);
}
.close {
    position: fixed;
     top: 12%;
     right: 10px;
     z-index:5;
     padding: 10px 30px;
     cursor: pointer;
     transition: background-color 0.3s ease-in-out;
     color: var(--white-color);
 }
    .close:hover {
        background-color: var(--clr-light-bgcolor);
    }

/* Note-:idea is from the teacher */

/* side bar consist of 3 icons */
.side-icons {
    display: inline-flex;
    align-items: center;

}

.user-icon,
.shopping-bag,
.search-icon {
    margin-right: 25px;
}

.slides {
    display: flex;
    position: relative;
    margin: 10px auto;
    z-index: 1;
    /*-1 will not make the btn work */
}

.main-cta {
    position: absolute;
    background-color: var(--clr-light-bgcolor);
    padding: 10px 10px;
    margin: 10px;
    width: 30%;
    right: 50px;
    top: 35%;
    z-index: 1;
   
    border-radius: 10px;



}

.cta {
    padding: 12px 5px;
    background-color: var(--clr-primary-blue);
    color: var(--clr-neutral);
    font-family: var(--ff-main-font);
    font-size: 24px;
    text-decoration: none;
    border: none;
    text-align: center;

}

.cta:hover {
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral);
}

/* breadcrumb */
.breadcrumb {
    padding: 5px 5px;
    list-style: none;
    background-color: var(--clr-light-bgcolor);
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 10px 10px;
    color: var(--clr-primary-blue);
    content: "|\00a0";
}

.breadcrumb li a {
    color: var(--clr-dark);
    font-size: 20px;
}

.breadcrumb li a:hover {
    color: var(--clr-primary-green);
}

/* active link on the breadcrumb marked in a different color */
.b-active {
    color: var(--clr-light);
}

/* style the buttons */
/* maintaining the DRY principal here */
.btn {
    padding: 15px 20px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    margin: 12px 1px;
    font-family: var(--ff-main-font);
    font-size: 24px;
    font-weight: 600;
    font-variant: small-caps;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--clr-neutral);
    border-color: var(--clr-primary-green);
    color: var(--clr-primary-green);
    
}

.primary-btn:hover {
    background-color: var(--clr-primary-green);
    color: var(--clr-neutral);
}

.secondary-btn {
    border: 1px solid;
    color: var(--clr-primary-blue);
    background-color: var(--clr-neutral);
}

.secondary-btn:hover {
    background-color: var(--clr-primary-blue);
    color: var(--clr-neutral);
}

::placeholder {
    color: var(--clr-light-bgcolor);
}

/* main CTA section in the index.html */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    grid-gap: 40px;
    padding: 12px 12px;
    background-color: var(--clr-light-bgcolor);

}

.grid-men {
    grid-column: 100%;
    grid-row: auto;
    align-items: center;
    background-color: var(--clr-overlay-orange);

}

.grid-women {
    grid-column: auto;
    grid-row: auto;
    align-items: center;
    background-color: var(--clr-overlay-orange);
}

.grid-img {

    align-items: center;
    background-size: contain;
    background-position: center;
}

.grid-img>img {
    object-fit: cover;
    width: 100%;
}

.grid-btn {
    align-items: center;
    margin: 1px 0;
    padding: 1px;
}
.cta-btn {
  
    font-size: 24px;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 12px 20px;
    margin:0 auto;
    justify-content: center;
    width: 100%;
    display: block;
    text-align: center;
}

/* partners & brands */
.brand-flex {
    display: flex;
    padding: 21px 20px;
    background-color: var(--clr-light);
    margin-block: 50px;
    cursor: pointer;
    object-fit: cover;

}

.brand-flex>img {
    overflow: hidden;

}

/* brands that we do sell */
.brand-flex>img:hover {
    color: var(--clr-primary-green);
    border: 1px solid;
}

.fas,
.far {
    color: var(--clr-primary-orange);
    cursor: pointer;
    margin: 0 5px
}

.fas:hover {
    color: var(--clr-primary-green);
}

.search {
    display: grid;
    position: relative;
    height: 500px;
    margin: 30px 90px;
}

.search-box {
    align-items: center;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* footer section  */
footer {}

.footer-container {
    width: 100%;


}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: var(--clr-light-bgcolor);

}

.footer-about {
    width: 50%;
    padding: 2px;
  

}

.footer-about p {
    padding: 10px;
    font-size: 18px;


}

.footer-about img {
    object-fit: cover;
    width: 30%;
    height: 100%;
    padding: 0 20px;



}

.newsletter {
    display: block;
    width: 40%;
    padding: 20px;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--clr-primary-orange);
}

.footer-col {
    width: 25%;
    padding: 0 35px;
    float: left;
}

.footer-col h3 {
    font-size: 24px;
    color: var(--clr-neutral);
    margin: 35px 35px;
    font-weight: bold;
   font-variant: uppercase;

}

/* Not working -this needs to be checked */
.footer-col h3:last-child {
    margin: 0 1px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-col ul li a {
    font-size: 18px;
    color: var(--clr-neutral);
    text-decoration: none;
    font-weight: 400;
    color: var(--clr-neutral);

}

.footer-col ul li a:hover {
    color: var(--clr-primary-green);

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--clr-neutral);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: var(--clr-primary-orange);
}

.footer-col .social-links a:hover {
    color: var(--clr-primary-green);
    background-color: var(--clr-neutral);
}

.footer-brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
    background-color: var(--clr-primary-orange);
    
}

.footer-brand>div {
    padding: 10px;

}

/* style for partner icons in the footer */
.grayscale {
    filter: grayscale(1000);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: var(--clr-dark);
    color: var(--clr-neutral);
    display: flex;
    position: relative;

}

.footer-backtotop {
   
    bottom: 0;
    right: 0;

}

.footer-p {
    font-size: 14px;
    font-variant: small-caps;
    margin: auto;
}

/* footer end */
/* About us section */
.about {
    display: flex;
    position: relative;
    margin: 12px 12px;

}

.about-text {
    min-width: 45%;
    margin: 12px 15px;
}

.about-img {
    min-width: 45%;
    margin: 12px 12px;
}

.about-img img {
    width: 100%;

    /* keep the img fixed in size */
}

/* end of about section */

/* contact section  */

.contact {
    display: flex;
    max-width: 100%;
    margin: 20px 30px;
}

.right-section {
    display: inline;
    justify-content: left;
    width: 25%;
    margin: 12px 20px;


}

.left-section {
    display: inline;
    width: 75%;
}

.contact-form {
    min-width: 100%;
    margin: 0 auto;
}

/*responsive*/
/* media queries for mobile */

@media(max-width: 564px) {

    body {
        max-width: 564px;
    }

    .navbar {
        align-items: center;

    }

    .logo {
       
    }

    .main-container {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        margin: 20px 20px;
    }

    p {
        margin: 12px 12px;
    }

    .btn {
        padding: 8px 12px;
        font-size: 20px;
        font-weight: 800;
    }

    .user-icon,
    .shopping-bag,
    .search-icon {
        margin-right: 15px;
    }

    nav.hamburger ul {
        padding: 10px 0;
        width: 280px;
        height: 220px;

    }

    .main-cta {
        display: none;
        /* padding: 1px 5px;
        right: 30%;
        top: 10%;
        width: 30%;
        height: auto;
        margin: 1px 5px; */
    }

    .brand-flex {
        object-fit: cover;

    }

    .title {
        font-size: 18px;
        margin: 0;
        padding: 0;
     
    }
   

    .white-text {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .form {
        width: 100%;
    }

    .contact {
        width: 100%;

    }

    .right-section {
        width: 100%;
        overflow: hidden;
    }

    .contact {
        flex-direction: column;
        min-width: 100%;

    }

    .footer-top {
        flex-direction: column;
        width: 100%;
        padding: 12px;
        margin: 0;

    }
    .footer-about {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .newsletter {
        width: 100%;
        padding: 12px;
        margin: 0;

    }
    .footer-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .footer-brand {
        
        width: 100%;
        padding: 12px;
        margin: 0;

    }

    .footer-col {
        width: 100%;
    }

    /* about section */
    .about {
        flex-direction: column;
        width: 100%;

    }
}

/* media query for tab */
/* Portrait and Landscape */
@media (max-width: 1350px)and (min-width: 635px) {

    .main-cta {
        padding: 1px 10px;
        left: 50%;
        top: 15%;
        margin: 1px 10px;
    }

    .title {
        font-size: 25px;
    }

    .white-text {
        font-size: 16px;
    }

    nav.hamburger ul {
        width: 700px;
        height: 250px;
    }

    .grid-container {
        grid-template-columns: 47% 47%;
        grid-auto-rows: auto;

    }

    .btn {
        padding: 10px 12px;
        font-size: 20px;
        font-weight: 800;
    }

    .form {
        width: 90%;
    }

    .p .brand-flex {
        margin: 10px;
        padding: 5px;

    }

    .right-col {
        width: 200%;
    }

    .left-col img {
        width: 100%;
        height: 80%;
        margin: 10px 10px;

    }

    .left-col {
        width: 50%;
    }

    .right-col {
        width: 50%;
    }

    .product-img>img {
        width: 100%;
        height: 80%;
    }

    .footer-brand>div {
        padding: 0px;
    }
}

/* end of media query */